body {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    color: var(--text-primary);
    background-color: var(--body-background-1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}



.div-1 {
    margin-top: 66px;
    font-size: 40px;
    font-weight: 700;
    /* padding: 350px 10px; */
    height: 100vh;
    align-content: center;
    padding: 0px 10px;
    text-align: center;
    color: var(--text-primary);
    background-color: #98d9e1;
    background-image: linear-gradient(315deg, #98d9e1 0%, #d6aed6 74%);
}

.typewriter {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing-demo {
    width: 340px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}



.div-2 {
    height: 100vh;
    align-content: center;
    padding: 0px 15px;
    font-size: 30px;
    font-weight: 700;
    background-color: var(--body-background-1);
    color: var(--text-primary);
}